#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem 1rem; */
  text-align: center;
}

/* .hero {
  overflow: hidden;
}

.hero-heading {
  margin-bottom: 0;
}

.hero-image-container {
}

.hero-image {
  max-width: 100%;
} */

/* .form-container {
  border-radius: 4px;
  padding: 16px 0;
  margin-right: 16px;
  margin-left: 16px;
  transform: translateY(56px);
}

.url-input {
  font-size: inherit;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 80%;
}

.btn-submit {
  width: 90%;
  margin-top: 16px;
} */

/* .card {
  background: white;
  margin: 24px 0;
  padding: 24px;
  border-radius: 8px;
}

.card-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background: hsl(257, 27%, 26%);
  display: flex;
}

.card-img > img {
  padding: 24px;
} */

/* .main-content {
  padding: 0;
  padding-top: 80px;
}

.url-card {
  background: white;
  border-radius: 8px;
  margin: 16px;
  padding: 8px;
  display: block;
}

.cta {
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.cta-heading {
  color: white;
}

.card-container {
  padding: 16px;
} */

/* .logo-container {
  padding: 40px 0;
}

.social-links {
  padding: 30px 0 60px;
}

.social-icon {
  margin: 0 16px;
} */

.footer {
  /* display: flex;
  justify-content: space-around; */
}

@media only screen and (min-width: 768px) {
  /* .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-image-container {}

  .heading-container {
    text-align: left;
    margin-right: 20px;
  } */

  /* .form-container {
    padding: 32px;
  }

  .url-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-container {
    width: 70%;
  }

  .submit-container {
    width: 20%;
  }

  .url-input {
    width: 100%;
  }

  .btn-submit {
    width: 100%;
    margin-top: 0;
  } */

  /* .main-content {}

  .main-content > h2 {
    padding-top: 20px;
  }

  .url-card {
    background: white;
    margin: 16px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .card {
    margin: 24px;
  }

  .cta {
    height: 248px;
  } */

  /* .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 64px;
  }

  .list {
    display: flex;
    justify-content: space-around;
  }

  .sublist {
    text-align: left;
    margin-left: 56px;
  }

  .sublist > h4 {
    padding-bottom: 16px;
  }

  .sublist > p {
    margin: 8px 0;
  } */
}
